body {
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1599px) {
  .container {
    width: 96%;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}
.header {
  background-color: #222222;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 74px;
}

.header__menu-box {
  position: relative;
  display: inline-block;
}

.header__menu {
  position: absolute;
  background-color: #FFFFFF;
  margin-top: -2px;
  padding-bottom: 20px;
  text-align: right;
  display: none;
  z-index: 2;
}

.header__menu-box:hover .header__menu {
  display: block;
}

.header__menu-left {
  margin: 9px 114px 24px 34px;
  text-align: left;
}

.header__title {
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.header__menu-linc {
  text-decoration: none;
  color: #222222;
}

.header__menu-linc:hover {
  color: #F16D7F;
}

.header__menu-linc:active {
  color: #9F9F9F;
}

.header__menu-sub-item-title {
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
  margin: 24px 0 12px 0;
}

.header__menu-sub-ite-item {
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 11px;
}

.header__menu-cloze {
  background-color: transparent;
  border: 0;
  margin: 16px 17px 0 0;
}

.header__cloze {
  fill: #222222;
}

.header__box {
  display: flex;
}

.header__logo {
  margin: 18px 41px 19px 0;
}
@media (max-width: 1599px) {
  .header__logo {
    margin-left: 32px;
  }
}
@media (max-width: 767px) {
  .header__logo {
    margin: 18px 20px 19px 0;
  }
}

.header__logo:hover {
  opacity: 0.7;
}

.header__search-container {
  max-width: 28px;
  max-height: 28px;
  position: relative;
}

.header__search-ico {
  margin: 29px 0 20px 0;
  fill: #E8E8E8;
  position: absolute;
}

.header__search-container:hover .header__search-ico {
  fill: #F16D7F;
}

.header__search-ico-form {
  margin: 26px;
}

.header__search-input {
  display: none;
  width: 200px;
  height: 30px;
  border-radius: 10px;
}
@media (max-width: 767px) {
  .header__search-input {
    width: 80px;
  }
}

[type=search] {
  padding: 10px 20px;
  border: none;
}

.header__search-container:hover .header__search-input {
  display: block;
}

.header__ico {
  margin: 27px 0 19px 33px;
  fill: #E8E8E8;
}
@media (max-width: 1599px) {
  .header__ico {
    margin-right: 11px;
  }
}
@media (max-width: 767px) {
  .header__ico {
    margin-right: 0;
  }
}

.header__ico:hover {
  opacity: 0.7;
}

.header__ico:active {
  fill: #F16D7F;
}

.header__button {
  border: none;
  background-color: transparent;
  margin: 31px 0 21px 0;
}

.hero {
  background-color: #F1E4E6;
}
@media (max-width: 767px) {
  .hero {
    min-height: 363px;
  }
}

.hero__box {
  display: flex;
  width: 100%;
}

@media (max-width: 1599px) {
  .hero__img {
    height: 100%;
    width: 50%;
    object-fit: contain;
  }
}
@media (max-width: 767px) {
  .hero__img {
    display: none;
  }
}

.hero__wrp {
  display: flex;
  align-items: center;
  padding: 0 0 0 92px;
}
@media (max-width: 1599px) {
  .hero__wrp {
    padding: 0 0 0 68px;
  }
}

.hero__wrp-border {
  fill: #F16D7F;
  margin-right: 16px;
}
@media (max-width: 767px) {
  .hero__wrp-border {
    height: 61px;
    width: 12px;
    margin-top: 150px;
  }
}

.hero__title {
  font-family: Lato;
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
}
@media (max-width: 1599px) {
  .hero__title {
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
    font-style: normal;
  }
}
@media (max-width: 767px) {
  .hero__title {
    font-size: 38px;
    line-height: 46px;
    font-weight: 900;
    font-style: normal;
    margin-top: 148px;
  }
}

.hero__focus-in-contract {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
@-webkit-keyframes hero__focus-in-contract {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.hero__subtitle {
  display: block;
  font-family: Lato;
  font-size: 37px;
  line-height: 44px;
  font-weight: 700;
  font-style: normal;
}
@media (max-width: 1599px) {
  .hero__subtitle {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    font-style: normal;
  }
}
@media (max-width: 767px) {
  .hero__subtitle {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}

.hero__pink {
  color: #F16D7F;
}

.page-header__block {
  padding: 60px 0 60px 0;
  background: #F8F3F4;
}
@media (max-width: 767px) {
  .page-header__block {
    text-align: center;
    padding: 24px 0 46px 0;
  }
}

.page-header__block-title {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .page-header__block-title {
    display: block;
  }
}

.page-header__title {
  font-family: Lato;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
}

.page-header__block-position {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .page-header__block-position {
    margin-top: 24px;
  }
}

.page-header__block-row {
  color: #F16D7F;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
}

.sale .sale__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 65px;
  align-items: center;
}
@media (max-width: 1599px) {
  .sale .sale__list {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .sale .sale__list {
    margin-top: 64px;
  }
}
.sale .sale__item {
  position: relative;
}
@media (max-width: 767px) {
  .sale .sale__item {
    margin-bottom: 32px;
  }
}
@media (max-width: 1599px) {
  .sale .sale__item-img {
    width: 232px;
    min-height: 168px;
  }
}
@media (max-width: 767px) {
  .sale .sale__item-img {
    width: 100%;
    min-height: 247px;
  }
}
@media (max-width: 1599px) {
  .sale .sale__item-img-accesories {
    width: 100%;
    min-height: 116px;
  }
}
@media (max-width: 767px) {
  .sale .sale__item-img-accesories {
    min-height: 111px;
    width: 100%;
  }
}
.sale .sale__link {
  position: absolute;
  text-align: center;
  text-decoration: none;
}
.sale .sale__link:hover {
  opacity: 0.7;
}
.sale .sale__link-for-women {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1599px) {
  .sale .sale__link-for-women {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 767px) {
  .sale .sale__link-for-women {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.sale .sale__link-for-men {
  top: 105px;
  left: 125px;
}
@media (max-width: 1599px) {
  .sale .sale__link-for-men {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 767px) {
  .sale .sale__link-for-men {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.sale .sale__link-for-kids {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1599px) {
  .sale .sale__link-for-kids {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 767px) {
  .sale .sale__link-for-kids {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.sale .sale__link-accesories {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1599px) {
  .sale .sale__link-accesories {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 767px) {
  .sale .sale__link-accesories {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.sale .sale__item-accesories {
  margin-top: 32px;
  position: relative;
}
@media (max-width: 1599px) {
  .sale .sale__item-accesories {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .sale .sale__item-accesories {
    margin: 0 0 32px 0;
  }
}
.sale .sale__text {
  font-size: 16px;
  line-height: 19px;
  color: #F1E4E6;
  text-transform: uppercase;
}
.sale .sale__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #F16D7F;
  margin-top: 5px;
  text-transform: uppercase;
}

.product__title {
  margin: 97px 0 6px 0;
  text-align: center;
  font-family: Lato;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 767px) {
  .product__title {
    margin-top: 64px;
  }
}

.product__text {
  margin-bottom: 48px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}
@media (max-width: 1599px) {
  .product__text {
    margin-bottom: 74px;
  }
}

.product__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product__item {
  width: 360px;
  height: 581px;
  margin-bottom: 30px;
  position: relative;
}
@media (max-width: 1599px) {
  .product__item {
    margin: 0 0 15px 2%;
  }
}

@media (max-width: 1599px) {
  .product__item-disappear {
    display: none;
  }
}

@media (max-width: 767px) {
  .product__img {
    width: 100%;
  }
}

.product__img-overlay:before {
  content: "";
  width: 100%;
  height: 420px;
  position: absolute;
  top: 0;
  background: rgba(58, 56, 56, 0.86);
}

.product__img-overlay:before {
  display: none;
}

.product__img-button {
  border: 1px solid #F1E4E6;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  color: #F1E4E6;
  display: none;
}

.product__img-button:active {
  background: #F16D7F;
}

.product__button-img {
  margin: 10px 0 8px 9px;
  fill: #F1E4E6;
}

.product__button-text {
  margin: 14px 10px 13px 7px;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
}

.product__item:hover .product__img-overlay:before,
.product__item:hover .product__img-button {
  display: flex;
}

.product__img-button:focus {
  opacity: 0.7;
}

.product__item-box {
  background-color: #F8F8F8;
  padding: 24px 29px 20px 16px;
  margin-top: -3px;
  position: absolute;
}

.product__box-text {
  color: #9F9F9F;
  margin: 13px 0 18px 0;
}

.product__box-subtitle {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
}

.product__box-price {
  text-decoration: none;
  color: #F16D7F;
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
}

.product__button {
  border: 1px solid #F16D7F;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding: 14px 38px;
  background: #FFFFFF;
  margin: 18px auto 0 auto;
  display: block;
}

.product__button:hover {
  background: #F8F3F4;
  transform: scale(1.1);
}

.product__button:active {
  background: #F16D7F;
  color: #FFFFFF;
}

.product__margin {
  margin-top: 129px;
  margin-bottom: 108px;
}
@media (max-width: 767px) {
  .product__margin {
    margin: 64px 0;
  }
}

.advantage {
  margin-top: 95px;
  background-color: #222222;
  padding: 104px 0 103px 0;
}
@media (max-width: 1599px) {
  .advantage {
    padding: 48px 0 16px 0;
  }
}

.advantage__list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1599px) {
  .advantage__list {
    display: block;
    max-width: 360px;
  }
}

.advantage__item {
  text-align: center;
  max-width: 360px;
}

.advantage__img-delivery {
  margin-bottom: 28px;
  fill: #F16D7F;
}

.advantage__img-sales {
  margin-bottom: 19px;
  fill: #F16D7F;
}

.advantage__img-quality {
  margin-bottom: 25px;
  fill: #F16D7F;
}

.advantage__title {
  color: #F8F8F8;
  font-family: Lato;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 16px;
}

.advantage__text {
  color: #9F9F9F;
}
@media (max-width: 1599px) {
  .advantage__text {
    margin-bottom: 48px;
  }
}

.footer__background {
  position: absolute;
  height: 448px;
  width: 100%;
}
@media (max-width: 1599px) {
  .footer__background {
    height: 693px;
  }
}

@media (max-width: 1599px) {
  .footer__box {
    max-width: 440px;
    padding-left: 10%;
    margin-bottom: 140px;
  }
}
@media (max-width: 767px) {
  .footer__box {
    margin-bottom: 109px;
  }
}

.footer__subscription-item {
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 1599px) {
  .footer__subscription-item {
    display: block;
  }
}

.footer__subscription-title {
  text-align: center;
  max-width: 359px;
  margin-right: 90px;
}
@media (max-width: 1599px) {
  .footer__subscription-title {
    max-width: none;
  }
}

.footer__subscription-img {
  margin: 97px 0 30px 0;
}
@media (max-width: 767px) {
  .footer__subscription-img {
    margin: 54px 0 30px 50px;
  }
}

.footer__subscription-text {
  font-family: Lato;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 126px;
}
@media (max-width: 1599px) {
  .footer__subscription-text {
    margin-bottom: 48px;
  }
}
@media (max-width: 767px) {
  .footer__subscription-text {
    width: 343px;
    margin-left: -17px;
  }
}

.footer__button-title {
  font-family: Lato;
  font-size: 24px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 150px;
}
@media (max-width: 1599px) {
  .footer__button-title {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .footer__button-title {
    margin: 59px 0 0 60px;
  }
}

.footer__subtitle-subtitle {
  font-family: Lato;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media (max-width: 1599px) {
  .footer__subtitle-subtitle {
    margin-bottom: 27px;
  }
}
@media (max-width: 767px) {
  .footer__subtitle-subtitle {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
    width: 271px;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .footer__form {
    width: 349px;
    margin-left: -25px;
  }
}

.footer__form-email {
  padding: 0 64px 0 22px;
  height: 49px;
  border-bottom-left-radius: 35px;
  border-top-left-radius: 35px;
  border-style: none;
  background-color: #F8F8F8;
}

@media (max-width: 767px) {
  .footer__form-email-width {
    width: 30%;
  }
}

@media (max-width: 767px) {
  .footer__form-email-prpduct {
    height: 57px;
    width: 200px;
  }
}

.footer__form-email:focus {
  outline: none;
}

.footer__button {
  padding: 17px;
  margin-left: -3px;
  border-bottom-right-radius: 35px;
  border-top-right-radius: 35px;
  background-color: #F16D7F;
  color: #F8F8F8;
  border: 1px solid #F16D7F;
}

.footer__button:hover {
  opacity: 0.7;
}

.footer__button:active {
  background: #FFFFFF;
  color: #F16D7F;
  border: solid 1px #F16D7F;
}

.footer__copyright {
  background-color: #222222;
  min-height: 79px;
  position: relative;
}

.footer__copyright-container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .footer__copyright-container {
    align-items: center;
    flex-direction: column-reverse;
  }
}

.footer__copyright-text {
  font-size: 16px;
  line-height: 19px;
  color: #F8F8F8;
  margin: 30px 0 30px 0;
}
@media (max-width: 1599px) {
  .footer__copyright-text {
    margin-left: 32px;
  }
}
@media (max-width: 767px) {
  .footer__copyright-text {
    margin: 0 0 9px 0;
  }
}

.footer__copyright-item {
  display: flex;
}
@media (max-width: 1599px) {
  .footer__copyright-item {
    margin-right: 32px;
  }
}
@media (max-width: 767px) {
  .footer__copyright-item {
    margin: 43px 0 40px 0;
  }
}

.footer__copyright-title {
  margin: 24px 0 24px 7px;
}

.footer__copyright-title-box {
  fill: #FFFFFF;
}

.footer__copyright-title-symbol {
  fill: #222222;
}

.footer__copyright-title-instagram {
  fill: #F16D7F;
}

.footer__copyright-title {
  margin: 24px 0 24px 7px;
}

.footer__copyright-title:hover {
  opacity: 0.7;
}

.registration-page {
  display: flex;
  margin-top: 64px;
  justify-content: space-between;
}
@media (max-width: 1599px) {
  .registration-page {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .registration-page {
    display: block;
  }
}

.registration-page__container {
  width: 550px;
}
@media (max-width: 767px) {
  .registration-page__container {
    width: 100%;
  }
}

.registration-page__input {
  margin-top: 20px;
  padding: 13px 17px 16px 17px;
  width: 360px;
  color: #B1B1B1;
}
@media (max-width: 1599px) {
  .registration-page__input {
    width: 95%;
  }
}
@media (max-width: 767px) {
  .registration-page__input {
    width: 90%;
  }
}

.registration-page__input:hover {
  opacity: 0.7;
}

.registration-page__radio {
  margin: 32px 0 33px 0;
}

.registration-page__input-text {
  margin: 15px 0 39px 0;
  color: #B1B1B1;
  width: 360px;
}
@media (max-width: 767px) {
  .registration-page__input-text {
    max-width: 300px;
  }
}

.registration-page__input-button {
  margin-bottom: 96px;
  color: #FFFFFF;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  border: none;
  background-color: #F16D7F;
  padding: 16px 29px;
  text-transform: uppercase;
  border: solid 1px #FFFFFF;
}
@media (max-width: 767px) {
  .registration-page__input-button {
    margin-bottom: 40px;
  }
}

.registration-page__input-button:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

.registration-page__input-button:active {
  background: #FFFFFF;
  color: #F16D7F;
  border: solid 1px #F16D7F;
}

.registration-page__button-arrow {
  fill: #FFFFFF;
  margin-left: 20px;
}

@media (max-width: 1599px) {
  .registration-page__item-box {
    margin-left: 42px;
  }
}
@media (max-width: 767px) {
  .registration-page__item-box {
    margin-left: 0;
    margin-bottom: 100px;
  }
}

.registration-page__item-text {
  font-family: Lato;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
}
@media (max-width: 1599px) {
  .registration-page__item-text {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}

.registration-page__text {
  font-family: Lato;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  max-width: 652px;
  margin: 22px 0 21px 0;
}
@media (max-width: 1599px) {
  .registration-page__text {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}

.registration-page__item {
  display: flex;
  margin-bottom: 16px;
  font-family: Lato;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  fill: #222222;
}
@media (max-width: 1599px) {
  .registration-page__item {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}

.registration-page__item-check {
  margin-right: 22px;
  margin-top: 7px;
}
@media (max-width: 1599px) {
  .registration-page__item-check {
    margin-top: 0;
  }
}

.registration-page__page {
  display: flex;
  justify-content: space-between;
  margin-top: 96px;
}

.shopping-cart {
  display: flex;
  margin-top: 96px;
}
@media (max-width: 1599px) {
  .shopping-cart {
    display: block;
    margin-top: 59px;
  }
}

.shopping-cart__cart {
  display: flex;
  width: 652px;
  margin-bottom: 40px;
  box-shadow: 15px 15px 15px 10px #E8E8E8;
}
@media (max-width: 1599px) {
  .shopping-cart__cart {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .shopping-cart__cart {
    height: 188px;
  }
}

.shopping-cart__action {
  display: flex;
  justify-content: space-between;
  padding: 22px 22px 62px 21px;
  width: 100%;
}
@media (max-width: 767px) {
  .shopping-cart__action {
    padding: 13px 17px 37px 12px;
  }
}

.shopping-cart__action-description {
  width: 200px;
}
@media (max-width: 767px) {
  .shopping-cart__action-description {
    width: 143px;
  }
}

.shopping-cart__action-title {
  font-family: Lato;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 42px;
}
@media (max-width: 767px) {
  .shopping-cart__action-title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    font-style: normal;
    width: 143px;
    margin-bottom: 25px;
  }
}

.shopping-cart__action-text {
  font-family: Lato;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 6px;
}
@media (max-width: 767px) {
  .shopping-cart__action-text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 4px;
  }
}

.shopping-cart__text-price {
  color: #F16D7F;
}
@media (max-width: 767px) {
  .shopping-cart__text-price {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    font-style: normal;
  }
}

.shopping-cart__action-quantity {
  display: flex;
}

.shopping-cart__quantity-box {
  margin-left: 24px;
  padding: 2px 17px 0 16px;
  font-family: Lato;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  border: solid 1px #E8E8E8;
}
@media (max-width: 767px) {
  .shopping-cart__quantity-box {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    font-style: normal;
    padding: 1px 9px;
  }
}

@media (max-width: 767px) {
  .shopping-cart__button-img {
    width: 11px;
    height: 11px;
    margin-left: -5px;
  }
}

.shopping-cart__action-button {
  margin-bottom: 190px;
  fill: #575757;
  background: none;
  border: none;
}
@media (max-width: 767px) {
  .shopping-cart__action-button {
    margin-bottom: 159px;
  }
}

.shopping-cart__action-button:hover {
  opacity: 0.7;
}

.shopping-cart__action-button:active {
  fill: #F16D7F;
}

.shopping-cart__adress-container {
  margin: 17px 0 0 129px;
}
@media (max-width: 1599px) {
  .shopping-cart__adress-container {
    margin: 0;
  }
}

.shopping-cart__input-box {
  width: 360px;
}

@media (max-width: 1599px) {
  .shopping-cart__adress-box {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .shopping-cart__adress-box {
    display: block;
    margin-bottom: 96px;
  }
}

.shopping-cart__adress-box-inpyt {
  width: 360px;
}
@media (max-width: 767px) {
  .shopping-cart__adress-box-inpyt {
    width: 100%;
  }
}

.shopping-cart__img-button {
  display: flex;
  justify-content: space-between;
  margin: 32px 0 128px 0;
}
@media (max-width: 1599px) {
  .shopping-cart__img-button {
    justify-content: space-around;
    margin-bottom: 64px;
  }
}

.shopping-cart__button-stile {
  padding: 17px 40px;
  background-color: none;
  text-transform: uppercase;
  background: none;
  border: solid 1px #9F9F9F;
  margin-top: 32px;
}
@media (max-width: 767px) {
  .shopping-cart__button-stile {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-style: normal;
    padding: 8px 11px 9px 11px;
  }
}

.shopping-cart__button-stile:hover {
  background: #F8F8F8;
  transform: scale(1.1);
}

.shopping-cart__button-stile:active {
  background: #F16D7F;
  color: #FFFFFF;
  border: none;
}

.shopping-cart__adress-legend {
  text-transform: uppercase;
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
}

.shopping-cart__adress-form {
  margin-top: 21px;
  padding: 13px 17px 16px 17px;
  width: 324px;
  border: 1px solid #B1B1B1;
  color: #B1B1B1;
}
@media (max-width: 767px) {
  .shopping-cart__adress-form {
    width: 90%;
  }
}

.shopping-cart__adress-form:hover {
  opacity: 0.7;
}

.shopping-cart__form-button {
  text-transform: uppercase;
  padding: 10px 15px 12px 15px;
  margin: 23px 0 57px 0;
  border: 1px solid #B1B1B1;
  background: none;
  font-family: Lato;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
}

.shopping-cart__form-button:hover {
  background: #F8F8F8;
  transform: scale(1.1);
  margin-left: 5px;
}

.shopping-cart__form-button:active {
  background: #F16D7F;
  color: #FFFFFF;
}

.shopping-cart__order {
  background-color: #F5F3F3;
  text-align: center;
  width: 360px;
  padding: 39px 0 42px 0;
}
@media (max-width: 1599px) {
  .shopping-cart__order {
    height: 149px;
  }
}
@media (max-width: 767px) {
  .shopping-cart__order {
    width: 100%;
  }
}

.shopping-cart__order-box {
  width: 275px;
  text-align: right;
  margin-left: 43px;
}

.shopping-cart__order-text-top {
  text-transform: uppercase;
  font-family: Lato;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
}

.shopping-cart__order-text {
  text-transform: uppercase;
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  font-style: normal;
  font-weight: normal;
  margin: 12px 0 12px 0;
}

.shopping-cart__order-text-span,
.shopping-cart__order-span {
  margin-left: 20px;
}

.shopping-cart__order-text-span {
  color: #F16D7F;
}

.shopping-cart__order-hr {
  fill: #E8E8E8;
}

.shopping-cart__order-button {
  padding: 15px 0 15px 0;
  text-transform: uppercase;
  background-color: #F16D7F;
  color: #FFFFFF;
  border: none;
  width: 275px;
  text-align: center;
  margin-top: 17px;
}

.shopping-cart__order-button:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

.shopping-cart__order-button:active {
  color: #F16D7F;
  background-color: #FFFFFF;
}

.page-product {
  padding: 64px 0 64px 0;
  text-align: center;
  border: 1px solid #E8E8E8;
  position: relative;
  margin-top: 45%;
  z-index: 1;
  background-color: #FFFFFF;
}
@media (max-width: 1599px) {
  .page-product {
    margin-top: 0;
  }
}

.page-product__item-text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color: #F16D7F;
  margin-bottom: 12px;
}

.page-product__pink-line {
  fill: #F16D7F;
  margin-bottom: 12px;
}

.page-product__tite {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 48px;
  color: #575757;
}
@media (max-width: 767px) {
  .page-product__tite {
    margin-bottom: 31px;
  }
}

.page-product__item-description {
  color: #9F9F9F;
  width: 55%;
  margin: 0 auto 32px auto;
}
@media (max-width: 1599px) {
  .page-product__item-description {
    width: 90%;
  }
}
@media (max-width: 767px) {
  .page-product__item-description {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    font-style: normal;
    width: 95%;
  }
}

.page-product__item-price {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  color: #F16D7F;
  margin-bottom: 65px;
}
@media (max-width: 767px) {
  .page-product__item-price {
    margin-bottom: 32px;
  }
}

.page-product__gray-line {
  margin-bottom: 65px;
}
@media (max-width: 1599px) {
  .page-product__gray-line {
    width: 83%;
  }
}
@media (max-width: 767px) {
  .page-product__gray-line {
    width: 60%;
    margin-bottom: 49px;
  }
}

.page-product__parameters {
  display: flex;
  justify-content: space-around;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1599px) {
  .page-product__parameters {
    width: 60%;
  }
}
@media (max-width: 767px) {
  .page-product__parameters {
    width: 95%;
  }
}

.page-product__parameters-text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #575757;
  margin-bottom: 49px;
}
@media (max-width: 767px) {
  .page-product__parameters-text {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 64px;
  }
}

.page-product__parameters-button {
  fill: #575757;
  margin: 0 0 2px 9px;
}

.page-product__parameters-button {
  opacity: 0.7;
}

.page-product__parameters-button:active {
  fill: #F16D7F;
}

.page-product__button {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  fill: #F16D7F;
  color: #F16D7F;
  background-color: #FFFFFF;
  border: 1px solid #F16D7F;
  padding: 10px 56px 12px 23px;
}

.page-product__button:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

.page-product__button:active {
  color: #FFFFFF;
  background-color: #F16D7F;
}

.page-product__buttun-cart {
  margin-bottom: -5px;
}

.page-product__button-text {
  margin-left: 23px;
}

.product-carousel {
  position: absolute;
  width: 100%;
}
@media (max-width: 1599px) {
  .product-carousel {
    position: relative;
  }
}

.product-carousel__icon {
  background-color: #9F9F9F;
  padding: 9px 13px;
}

.product-carousel__icon:active {
  fill: #F16D7F;
}

.catalog {
  margin-bottom: 50px;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-gap: 30px;
}
@media (max-width: 1599px) {
  .catalog__list {
    grid-gap: 16px;
    grid-template-columns: repeat(2, 360px);
    width: 736px;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .catalog__list {
    grid-template-columns: repeat(1, 360px);
    width: 360px;
  }
}

@media (max-width: 1599px) {
  .box-3 {
    display: none;
  }
}

.catalog__text {
  margin-bottom: 48px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}
@media (max-width: 1599px) {
  .catalog__text {
    margin-bottom: 74px;
  }
}

.catalog__item {
  width: 360px;
  height: 581px;
  position: relative;
}
@media (max-width: 767px) {
  .catalog__item {
    margin-left: -3%;
  }
}

@media (max-width: 1599px) {
  .catalog__item-disappear {
    display: none;
  }
}

@media (max-width: 767px) {
  .catalog__img {
    width: 100%;
  }
}

.catalog__img-overlay:before {
  content: "";
  width: 100%;
  height: 420px;
  position: absolute;
  top: 0;
  background: rgba(58, 56, 56, 0.86);
}

.catalog__img-overlay:before {
  display: none;
}

.catalog__img-button {
  border: 1px solid #F1E4E6;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  color: #F1E4E6;
  display: none;
}

.catalog__img-button:active {
  background: #F16D7F;
}

.catalog__button-img {
  margin: 10px 0 8px 9px;
  fill: #F1E4E6;
}

.catalog__button-text {
  margin: 14px 10px 13px 7px;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
}

.catalog__item:hover .catalog__img-overlay:before,
.catalog__item:hover .catalog__img-button {
  display: flex;
}

.catalog__img-button:focus {
  opacity: 0.7;
}

.catalog__item-box {
  background-color: #F8F8F8;
  padding: 24px 29px 20px 16px;
  margin-top: -3px;
  position: absolute;
}

.catalog__box-text {
  color: #9F9F9F;
  margin: 13px 0 18px 0;
}

.catalog__box-subtitle {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
}

.catalog__box-price {
  text-decoration: none;
  color: #F16D7F;
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
}

.catalog__button {
  border: 1px solid #F16D7F;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding: 14px 38px;
  background: #FFFFFF;
  margin: 18px auto 0 auto;
  display: block;
}

.catalog__button:hover {
  background: #F8F3F4;
  transform: scale(1.1);
}

.catalog__button:active {
  background: #F16D7F;
  color: #FFFFFF;
}

.catalog__margin {
  margin-top: 129px;
  margin-bottom: 108px;
}
@media (max-width: 767px) {
  .catalog__margin {
    margin: 64px 0;
  }
}

.catalog-setting {
  margin-top: 51px;
  margin-bottom: 64px;
}

.catalog-setting__settings-box {
  display: flex;
  justify-content: space-between;
  width: 676px;
}
@media (max-width: 1599px) {
  .catalog-setting__settings-box {
    width: auto;
  }
}

.catalog-setting__filter-button {
  border: none;
  background-color: #FFFFFF;
}
@media (max-width: 767px) {
  .catalog-setting__filter-button {
    margin-left: -8%;
  }
}

.catalog-setting__filter-button:hover {
  color: #F16D7F;
  fill: #F16D7F;
}

.catalog-setting__filter-title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .catalog-setting__filter-title {
    display: none;
  }
}

.catalog-setting__filter-svg {
  margin-left: 11px;
}
@media (max-width: 767px) {
  .catalog-setting__filter-svg {
    width: 37px;
    height: 25px;
  }
}

.catalog-setting__box-button {
  border: none;
  background-color: #FFFFFF;
}

.catalog-setting__box-title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin-right: 10px;
  color: #9F9F9F;
}
@media (max-width: 767px) {
  .catalog-setting__box-title {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-style: normal;
  }
}

.catalog-setting__box-svg {
  fill: #9F9F9F;
}

/*# sourceMappingURL=stile.css.map */
