:root {
    --black: #222222;
    --pink: #F1E4E6;
    --dark-pink: #F16D7F;
    --grai:  #9F9F9F;
    --light-grey: #F8F8F8;
    --light-pink: #F8F3F4;
    --white: #FFFFFF;
    --transparent-grey:#B1B1B1;
    --footer-grey:#E8E8E8;
}

body {
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: var(--black);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 74px;
}

.header__menu {
    display: none;
}

.header__box {
display: flex;
}

.header__logo {
    margin: 18px 41px 19px 0;
}

.header__logo:hover {
    opacity: 0.7;
}

.header__search-ico {
    margin: 29px 0 20px 0;
    fill: var(--footer-grey);
}

.header__search-ico:hover {
    opacity: 0.7;
}

.header__ico {
    margin: 27px 0 19px 33px;
    fill: var(--footer-grey);
}

.header__ico:hover {
    opacity: 0.7;
}

.header__button {
    border: none;
    background-color: transparent;
    margin: 31px 0 21px 0;
}

/*стиль меню*/

.header__menu {
    width: 232px;
}

.hero {
    background-color: var(--pink);
}

.hero__box {
    display: flex; 
    width: 1600px;
}

.hero__wrp {
    display: flex; 
    align-items: center;
    padding: 0 0 0 92px;
}

.hero__wrp-border {
    fill: var(--dark-pink);
    margin-right: 16px;
}

.hero__title {
font-family: Lato;
font-size: 48px;
font-weight: 900;
line-height: 58px;
text-transform: uppercase;
}

.hero__subtitle {
    display: block;
    font-family: Lato;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
}

.hero__pink {
    color: var(--dark-pink);
}

.sale__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 65px;
}

.sale__item {
    position: relative;
}

.sale__link {
    position: absolute;
    text-align: center;
    text-decoration: none;
}

.sale__link:hover {
    opacity: 0.7;
}

.sale__link-for-women {
    top: 105px;
    left: 103px;
}

.sale__link-for-men {
    top: 105px;
    left: 125px;
}

.sale__link-for-kids {
    top: 105px;
    left: 123px;
}

.sale__link-accesories {
    top: 65px;
    left: 490px;
}

.sale__item-accesories {
    margin-top: 32px;
}

.sale__text {
    font-size: 16px;
    line-height: 19px;
    color: var(--pink);;
    text-transform: uppercase;
}

.sale__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: var(--dark-pink);
    margin-top: 5px;
    text-transform: uppercase;
}

.product__title {
    margin: 97px 0 6px 0;
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.product__text {
    margin-bottom: 48px;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: var(--grai);;
}

.product__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product__item {
    width: 360px;
    height: 581px;
    margin-bottom: 30px;
    position: relative;
}

.product__img-overlay:before {
    content: '';
    width: 100%;
    min-height: 420px;
    position: absolute;
    top: 0;
    background: rgba(58, 56, 56, 0.86);
}

.product__img-overlay:before {
    display: none;
}

.product__img-button {
    border: 1px solid var(--pink);
    position: absolute;
    top: 32%;
    left: 31%;
    background: none; 
    color: var(--pink);
    display: none;
}

.product__button-img {
    margin: 10px 0 8px 9px;
    fill: var(--pink);
}

.product__button-text {
    margin: 14px 10px 13px 7px;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
}

.product__item:hover .product__img-overlay:before,
.product__item:hover .product__img-button { 
    display: flex;
}

.product__img-button:focus {
    opacity: 0.7;
}

.product__item-box {
    background-color: var(--light-grey);
    padding: 24px 29px 20px 16px;
    margin-top: -3px;
}

.product__box-text {
    color: var(--grai);;
    margin: 13px 0 18px 0;
}

.product__box-price {
    text-decoration: none;
    color: var(--dark-pink);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.product__button {
    border: 1px solid var(--dark-pink);
    font-size: 16px;
    line-height: 19px;
    color: var(--dark-pink);;
    padding: 14px 38px;
    background: #FFFFFF;
    margin: 18px 0 0 40%;
}

.product__button:hover {
    opacity: 0.7;
}

.advantage {
    margin-top: 95px;
    background-color: var(--black);
    padding: 104px 0 103px 0;
}

.advantage__list {
    display: flex;
    justify-content: space-between;
}

.advantage__item {
    text-align: center;
    max-width: 360px;
}

.advantage__img-delivery {
    margin-bottom: 28px;
    fill: var(--dark-pink);
}

.advantage__img-sales {
    margin-bottom: 19px;
    fill: var(--dark-pink);
}

.advantage__img-quality {
    margin-bottom: 25px;
    fill: var(--dark-pink);
}  

.advantage__title {
    color: var(--light-grey);
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
}

.advantage__text {
    color: var(--grai);;
}

.footer-background {
    position: absolute;
    height: 448px;
    width: 100%;
}

.footer__subscription-item {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.footer__subscription-title {
    text-align: center;
    max-width: 359px;
    margin-right: 90px;
}

.footer__subscription-img {
    margin: 97px 0 30px 0;
}

.footer__subscription-text {
    font-family: Lato;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 126px;
}

.footer__button-title {
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
    margin-top: 150px;
}

.footer__subtitle-subtitle {
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.footer__form-email {
    padding: 0 64px 0 22px;
    height: 49px;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
    border-style: none;
    background-color: var(--light-grey);
} 

.footer__form-email:focus {
    outline: none;
}

.footer__button {
    padding: 17px;
    margin-left: -3px;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
    background-color: var(--dark-pink);
    color: var(--light-grey);
    border-style: none;
}

.footer__button:hover {
    opacity: 0.7;
}

.footer__copyright {
    background-color: var(--black);
    min-height: 79px;
    position: relative;
}

.footer__copyright-container {
    display: flex;
    justify-content: space-between;
}

.footer__copyright-text {
    font-size: 16px;
    line-height: 19px;
    color: var(--light-grey);
    margin: 30px 0 30px 0;
}

.footer__copyright-item {
    display: flex;
}

.footer__copyright-title {
    margin: 24px 0 24px 7px;
}

.footer__copyright-title-box {
    fill: var(--white);
}

.footer__copyright-title-symbol {
    fill: var(--black);
}

.footer__copyright-title-instagram {
    fill: var(--dark-pink);
}

.footer__copyright-title {
    margin: 24px 0 24px 7px;
}

.footer__copyright-title:hover {
    opacity: 0.7;
}

/* страница регистрации*/

.registration-page__top {
    padding: 60px 0 60px 0;
    background: var(--light-pink);
}

.registration-page__title {
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    color: var(--dark-pink);
    text-transform: uppercase;
}

.registration-page__form {
    display: flex;
    margin-top: 64px;
    justify-content: space-between;
}

.registration-page__input {
    margin-top: 20px;
    padding: 13px 17px 16px 17px;
    width: 360px;
    color: var(--transparent-grey);
}

.registration-page__input:hover {
    opacity: 0.7;
}

.registration-page__radio {
    margin: 32px 0 33px 0;
}

.registration-page__input-text {
    margin: 15px 0 39px 0;
    color: var(--transparent-grey);
    width: 360px;
}

.registration-page__input-button {
    margin-bottom: 96px;
    color: var(--white);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    border: none;
    background-color: var(--dark-pink);
    padding: 16px 29px;
}

.registration-page__input-button:hover {
    opacity: 0.7;
}

.registration-page__button-arrow {
    fill: var(--white);
    margin-left: 20px;
}

.registration-page__item-text {
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px;
    text-transform: uppercase;
}

.registration-page__text {
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px; 
    max-width: 652px;
    margin: 22px 0 21px 0;
}

.registration-page__item {
    margin-bottom: 16px;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px;
    fill: var(--black);
}

.registration-page__item-check {
    margin-right: 22px;
}


