body {
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1599px) {
  .container {
    width: 96%;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}
.header {
  background-color: #222222;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 74px;
}

.header__menu-box {
  position: relative;
  display: inline-block;
}

.header__menu {
  position: absolute;
  background-color: #FFFFFF;
  margin-top: -2px;
  padding-bottom: 20px;
  text-align: right;
  display: none;
}

.header__menu-box:hover .header__menu {
  display: block;
}

.header__menu-left {
  margin: 9px 114px 24px 34px;
  text-align: left;
}

.header__title {
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.header__menu-sub-item-title {
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
  margin: 24px 0 12px 0;
}

.header__menu-sub-ite-item {
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 11px;
}

.header__menu-cloze {
  background-color: transparent;
  border: 0;
  margin: 16px 17px 0 0;
}

.header__cloze {
  fill: #222222;
}

.header__box {
  display: flex;
}

.header__logo {
  margin: 18px 41px 19px 0;
}
@media (max-width: 1599px) {
  .header__logo {
    margin-left: 32px;
  }
}
@media (max-width: 767px) {
  .header__logo {
    margin: 18px 20px 19px 0;
  }
}

.header__logo:hover {
  opacity: 0.7;
}

.header__search-ico {
  margin: 29px 0 20px 0;
  fill: #E8E8E8;
}

.header__search-ico:hover {
  opacity: 0.7;
}

.header__search-ico:active {
  fill: #F16D7F;
}

.header__ico {
  margin: 27px 0 19px 33px;
  fill: #E8E8E8;
}
@media (max-width: 1599px) {
  .header__ico {
    margin-right: 11px;
  }
}
@media (max-width: 767px) {
  .header__ico {
    margin-right: 0;
  }
}

.header__ico:hover {
  opacity: 0.7;
}

.header__ico:active {
  fill: #F16D7F;
}

.header__button {
  border: none;
  background-color: transparent;
  margin: 31px 0 21px 0;
}

.hero {
  background-color: #F1E4E6;
}
@media (max-width: 767px) {
  .hero {
    min-height: 363px;
  }
}

.hero__box {
  display: flex;
  width: 1600px;
}

@media (max-width: 1599px) {
  .hero__img {
    height: 369px;
    width: 24%;
    object-fit: contain;
  }
}
@media (max-width: 767px) {
  .hero__img {
    display: none;
  }
}

.hero__wrp {
  display: flex;
  align-items: center;
  padding: 0 0 0 92px;
}
@media (max-width: 1599px) {
  .hero__wrp {
    padding: 0 0 0 68px;
  }
}

.hero__wrp-border {
  fill: #F16D7F;
  margin-right: 16px;
}
@media (max-width: 767px) {
  .hero__wrp-border {
    height: 61px;
    width: 12px;
    margin-top: 150px;
  }
}

.hero__title {
  font-family: Lato;
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
}
@media (max-width: 1599px) {
  .hero__title {
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
    font-style: normal;
  }
}
@media (max-width: 767px) {
  .hero__title {
    font-size: 38px;
    line-height: 46px;
    font-weight: 900;
    font-style: normal;
    margin-top: 148px;
  }
}

.hero__subtitle {
  display: block;
  font-family: Lato;
  font-size: 37px;
  line-height: 44px;
  font-weight: 700;
  font-style: normal;
}
@media (max-width: 1599px) {
  .hero__subtitle {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    font-style: normal;
  }
}
@media (max-width: 767px) {
  .hero__subtitle {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}

.hero__pink {
  color: #F16D7F;
}

.sale .sale__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 65px;
}
@media (max-width: 1599px) {
  .sale .sale__list {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .sale .sale__list {
    margin-top: 64px;
  }
}
.sale .sale__item {
  position: relative;
}
@media (max-width: 767px) {
  .sale .sale__item {
    margin-bottom: 32px;
  }
}
@media (max-width: 1599px) {
  .sale .sale__item-img {
    width: 232px;
    min-height: 168px;
  }
}
@media (max-width: 767px) {
  .sale .sale__item-img {
    width: 343px;
    min-height: 247px;
  }
}
@media (max-width: 1599px) {
  .sale .sale__item-img-accesories {
    width: 100%;
    min-height: 116px;
  }
}
@media (max-width: 767px) {
  .sale .sale__item-img-accesories {
    min-height: 111px;
  }
}
.sale .sale__link {
  position: absolute;
  text-align: center;
  text-decoration: none;
}
.sale .sale__link:hover {
  opacity: 0.7;
}
.sale .sale__link-for-women {
  top: 105px;
  left: 103px;
}
@media (max-width: 1599px) {
  .sale .sale__link-for-women {
    top: 57px;
    left: 39px;
  }
}
@media (max-width: 767px) {
  .sale .sale__link-for-women {
    top: 98px;
    left: 94px;
  }
}
.sale .sale__link-for-men {
  top: 105px;
  left: 125px;
}
@media (max-width: 1599px) {
  .sale .sale__link-for-men {
    top: 57px;
    left: 59px;
  }
}
@media (max-width: 767px) {
  .sale .sale__link-for-men {
    top: 98px;
    left: 113px;
  }
}
.sale .sale__link-for-kids {
  top: 105px;
  left: 123px;
}
@media (max-width: 1599px) {
  .sale .sale__link-for-kids {
    top: 57px;
    left: 61px;
  }
}
@media (max-width: 767px) {
  .sale .sale__link-for-kids {
    top: 98px;
    left: 113px;
  }
}
.sale .sale__link-accesories {
  top: 65px;
  left: 490px;
}
@media (max-width: 1599px) {
  .sale .sale__link-accesories {
    top: 33px;
    left: 288px;
  }
}
@media (max-width: 767px) {
  .sale .sale__link-accesories {
    top: 30px;
    left: 92px;
  }
}
.sale .sale__item-accesories {
  margin-top: 32px;
}
@media (max-width: 1599px) {
  .sale .sale__item-accesories {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .sale .sale__item-accesories {
    margin-top: 0;
  }
}
.sale .sale__text {
  font-size: 16px;
  line-height: 19px;
  color: #F1E4E6;
  text-transform: uppercase;
}
.sale .sale__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #F16D7F;
  margin-top: 5px;
  text-transform: uppercase;
}

.product__title {
  margin: 97px 0 6px 0;
  text-align: center;
  font-family: Lato;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 767px) {
  .product__title {
    margin-top: 64px;
  }
}

.product__text {
  margin-bottom: 48px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}
@media (max-width: 1599px) {
  .product__text {
    margin-bottom: 74px;
  }
}

.product__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .product__list {
    margin-left: -10px;
  }
}

.product__item {
  width: 360px;
  height: 581px;
  margin-bottom: 30px;
  position: relative;
}
@media (max-width: 1599px) {
  .product__item {
    margin-bottom: 15px;
  }
}

.product__img-overlay:before {
  content: "";
  width: 100%;
  min-height: 420px;
  position: absolute;
  top: 0;
  background: rgba(58, 56, 56, 0.86);
}

.product__img-overlay:before {
  display: none;
}

.product__img-button {
  border: 1px solid #F1E4E6;
  position: absolute;
  top: 32%;
  left: 31%;
  background: none;
  color: #F1E4E6;
  display: none;
}

.product__img-button:active {
  background: #F16D7F;
}

.product__button-img {
  margin: 10px 0 8px 9px;
  fill: #F1E4E6;
}

.product__button-text {
  margin: 14px 10px 13px 7px;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
}

.product__item:hover .product__img-overlay:before,
.product__item:hover .product__img-button {
  display: flex;
}

.product__img-button:focus {
  opacity: 0.7;
}

.product__item-box {
  background-color: #F8F8F8;
  padding: 24px 29px 20px 16px;
  margin-top: -3px;
}

.product__box-text {
  color: #9F9F9F;
  margin: 13px 0 18px 0;
}

.product__box-price {
  text-decoration: none;
  color: #F16D7F;
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
}

.product__button {
  border: 1px solid #F16D7F;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding: 14px 38px;
  background: #FFFFFF;
  margin: 18px 0 0 40%;
}
@media (max-width: 1599px) {
  .product__button {
    margin: 15px 0 0 35%;
  }
}
@media (max-width: 767px) {
  .product__button {
    margin: 41px 0 0 20%;
  }
}

.product__button:hover {
  background: #F8F3F4;
}

.product__button:active {
  background: #F16D7F;
  color: #FFFFFF;
}

.advantage {
  margin-top: 95px;
  background-color: #222222;
  padding: 104px 0 103px 0;
}
@media (max-width: 1599px) {
  .advantage {
    padding: 48px 0 16px 0;
  }
}

.advantage__list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1599px) {
  .advantage__list {
    display: block;
    max-width: 360px;
  }
}

.advantage__item {
  text-align: center;
  max-width: 360px;
}

.advantage__img-delivery {
  margin-bottom: 28px;
  fill: #F16D7F;
}

.advantage__img-sales {
  margin-bottom: 19px;
  fill: #F16D7F;
}

.advantage__img-quality {
  margin-bottom: 25px;
  fill: #F16D7F;
}

.advantage__title {
  color: #F8F8F8;
  font-family: Lato;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 16px;
}

.advantage__text {
  color: #9F9F9F;
}
@media (max-width: 1599px) {
  .advantage__text {
    margin-bottom: 48px;
  }
}

.footer-background {
  position: absolute;
  height: 448px;
  width: 100%;
}
@media (max-width: 1599px) {
  .footer-background {
    height: 693px;
  }
}

@media (max-width: 1599px) {
  .footer-box {
    max-width: 440px;
    padding-left: 10%;
    margin-bottom: 140px;
  }
}
@media (max-width: 767px) {
  .footer-box {
    margin-bottom: 109px;
  }
}

.footer__subscription-item {
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 1599px) {
  .footer__subscription-item {
    display: block;
  }
}

.footer__subscription-title {
  text-align: center;
  max-width: 359px;
  margin-right: 90px;
}
@media (max-width: 1599px) {
  .footer__subscription-title {
    max-width: none;
  }
}

.footer__subscription-img {
  margin: 97px 0 30px 0;
}
@media (max-width: 767px) {
  .footer__subscription-img {
    margin: 54px 0 30px 50px;
  }
}

.footer__subscription-text {
  font-family: Lato;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 126px;
}
@media (max-width: 1599px) {
  .footer__subscription-text {
    margin-bottom: 48px;
  }
}
@media (max-width: 767px) {
  .footer__subscription-text {
    width: 343px;
    margin-left: -17px;
  }
}

.footer__button-title {
  font-family: Lato;
  font-size: 24px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 150px;
}
@media (max-width: 1599px) {
  .footer__button-title {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .footer__button-title {
    margin: 59px 0 0 60px;
  }
}

.footer__subtitle-subtitle {
  font-family: Lato;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media (max-width: 1599px) {
  .footer__subtitle-subtitle {
    margin-bottom: 27px;
  }
}
@media (max-width: 767px) {
  .footer__subtitle-subtitle {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
    width: 271px;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .footer__form {
    width: 349px;
    margin-left: -18px;
  }
}

.footer__form-email {
  padding: 0 64px 0 22px;
  height: 49px;
  border-bottom-left-radius: 35px;
  border-top-left-radius: 35px;
  border-style: none;
  background-color: #F8F8F8;
}

.footer__form-email:focus {
  outline: none;
}

.footer__button {
  padding: 17px;
  margin-left: -3px;
  border-bottom-right-radius: 35px;
  border-top-right-radius: 35px;
  background-color: #F16D7F;
  color: #F8F8F8;
  border-style: none;
}

.footer__button:hover {
  opacity: 0.7;
}

.footer__button:active {
  background: #FFFFFF;
  color: #F16D7F;
  border: solid 1px #F16D7F;
}

.footer__copyright {
  background-color: #222222;
  min-height: 79px;
  position: relative;
}

.footer__copyright-container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .footer__copyright-container {
    align-items: center;
    flex-direction: column-reverse;
  }
}

.footer__copyright-text {
  font-size: 16px;
  line-height: 19px;
  color: #F8F8F8;
  margin: 30px 0 30px 0;
}
@media (max-width: 1599px) {
  .footer__copyright-text {
    margin-left: 32px;
  }
}
@media (max-width: 767px) {
  .footer__copyright-text {
    margin: 0 0 9px 0;
  }
}

.footer__copyright-item {
  display: flex;
}
@media (max-width: 1599px) {
  .footer__copyright-item {
    margin-right: 32px;
  }
}
@media (max-width: 767px) {
  .footer__copyright-item {
    margin: 43px 0 40px 0;
  }
}

.footer__copyright-title {
  margin: 24px 0 24px 7px;
}

.footer__copyright-title-box {
  fill: #FFFFFF;
}

.footer__copyright-title-symbol {
  fill: #222222;
}

.footer__copyright-title-instagram {
  fill: #F16D7F;
}

.footer__copyright-title {
  margin: 24px 0 24px 7px;
}

.footer__copyright-title:hover {
  opacity: 0.7;
}

.registration-page__top {
  padding: 60px 0 60px 0;
  background: #F8F3F4;
}

.registration-page__title {
  font-family: Lato;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
}

.registration-page__container {
  width: 550px;
}

.registration-page__form {
  display: flex;
  margin-top: 64px;
  justify-content: space-between;
}

.registration-page__input {
  margin-top: 20px;
  padding: 13px 17px 16px 17px;
  width: 360px;
  color: #B1B1B1;
}

.registration-page__input:hover {
  opacity: 0.7;
}

.registration-page__radio {
  margin: 32px 0 33px 0;
}

.registration-page__input-text {
  margin: 15px 0 39px 0;
  color: #B1B1B1;
  width: 360px;
}

.registration-page__input-button {
  margin-bottom: 96px;
  color: #FFFFFF;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  border: none;
  background-color: #F16D7F;
  padding: 16px 29px;
  text-transform: uppercase;
}

.registration-page__input-button:hover {
  opacity: 0.7;
}

.registration-page__input-button:active {
  background: #FFFFFF;
  color: #F16D7F;
  border: solid 1px #F16D7F;
}

.registration-page__button-arrow {
  fill: #FFFFFF;
  margin-left: 20px;
}

.registration-page__item-text {
  font-family: Lato;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
}

.registration-page__text {
  font-family: Lato;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  max-width: 652px;
  margin: 22px 0 21px 0;
}

.registration-page__item {
  margin-bottom: 16px;
  font-family: Lato;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  fill: #222222;
}

.registration-page__item-check {
  margin-right: 22px;
}

.registration-page__page {
  display: flex;
  justify-content: space-between;
  margin-top: 96px;
}

.shopping-cart {
  display: flex;
  margin-top: 96px;
}

.shopping-cart__cart {
  display: flex;
  width: 652px;
  margin-bottom: 40px;
  box-shadow: 15px 15px 15px 10px #E8E8E8;
}

.shopping-cart__action {
  display: flex;
  justify-content: space-between;
  padding: 22px 22px 62px 21px;
  width: 390px;
}

.shopping-cart__action-description {
  width: 200px;
}

.shopping-cart__action-title {
  font-family: Lato;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 42px;
}

.shopping-cart__action-text {
  font-family: Lato;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 6px;
}

.shopping-cart__text-price {
  color: #F16D7F;
}

.shopping-cart__action-quantity {
  display: flex;
}

.shopping-cart__quantity-box {
  margin-left: 24px;
  padding: 2px 17px 0 16px;
  font-family: Lato;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  border: solid 1px #E8E8E8;
}

.shopping-cart__action-button {
  margin-bottom: 190px;
  fill: #575757;
  background: none;
  border: none;
}

.shopping-cart__action-button:hover {
  opacity: 0.7;
}

.shopping-cart__action-button:active {
  fill: #F16D7F;
}

.shopping-cart__adress-container {
  margin: 17px 0 0 129px;
}

.shopping-cart__img-button {
  display: flex;
  justify-content: space-between;
  margin: 32px 0 128px 0;
}

.shopping-cart__button-stile {
  padding: 17px 40px;
  background-color: none;
  text-transform: uppercase;
  background: none;
  border: solid 1px #9F9F9F;
  margin-top: 32px;
}

.shopping-cart__button-stile:hover {
  background: #F8F8F8;
}

.shopping-cart__button-stile:active {
  background: #F16D7F;
  color: #FFFFFF;
  border: none;
}

.shopping-cart__adress-legend {
  text-transform: uppercase;
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
}

.shopping-cart__adress-form {
  margin-top: 21px;
  padding: 13px 17px 16px 17px;
  width: 324px;
  border: 1px solid #B1B1B1;
  color: #B1B1B1;
}

.shopping-cart__adress-form:hover {
  opacity: 0.7;
}

.shopping-cart__form-button {
  text-transform: uppercase;
  padding: 10px 15px 12px 15px;
  margin: 23px 0 57px 0;
  border: 1px solid #B1B1B1;
  background: none;
  font-family: Lato;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
}

.shopping-cart__form-button:hover {
  background: #F8F8F8;
}

.shopping-cart__form-button:active {
  background: #F16D7F;
  color: #FFFFFF;
}

.shopping-cart__order {
  background-color: #F5F3F3;
  text-align: center;
  padding: 39px 0 42px 0;
}

.shopping-cart__order-box {
  width: 275px;
  text-align: right;
  margin-left: 43px;
}

.shopping-cart__order-text-top {
  text-transform: uppercase;
  font-family: Lato;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
}

.shopping-cart__order-text {
  text-transform: uppercase;
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  font-style: normal;
  font-weight: normal;
  margin: 12px 0 12px 0;
}

.shopping-cart__order-text-span,
.shopping-cart__order-span {
  margin-left: 20px;
}

.shopping-cart__order-text-span {
  color: #F16D7F;
}

.shopping-cart__order-hr {
  fill: #E8E8E8;
}

.shopping-cart__order-button {
  padding: 15px 0 15px 0;
  text-transform: uppercase;
  background-color: #F16D7F;
  color: #FFFFFF;
  border: none;
  width: 275px;
  text-align: center;
  margin-top: 17px;
}

.shopping-cart__order-button:hover {
  opacity: 0.7;
}

.shopping-cart__order-button:active {
  color: #F16D7F;
  background-color: #FFFFFF;
}

/*# sourceMappingURL=stile.css.map */
