    $black: #222222;
    $pink: #F1E4E6;
    $dark-pink: #F16D7F;
    $grai:  #9F9F9F;
    $light-grey: #F8F8F8;
    $light-pink: #F8F3F4;
    $white: #FFFFFF;
    $transparent-grey:#B1B1B1;
    $footer-grey:#E8E8E8;
    $light-black: #575757;
    $color-grei: #F5F3F3;

    $dekstop-width: 1599px;
    $mobile-width: 767px;