.sale {
    .sale__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 65px;

        @include tablet {
            margin-top: 20px;
        }

        @include mobile {
            margin-top: 64px;
        }
    }
    
    .sale__item {
        position: relative;
        
        @include mobile {
            margin-bottom: 32px;
        }
    }
    
    .sale__item-img {
        
        @include tablet {
            width: 232px;
            min-height: 168px;
        }

        @include mobile {
            width: 343px;
            min-height: 247px;
        }
    }

.sale__item-img-accesories {
        
    @include tablet {
        width: 100%;
        min-height: 116px;
        }

        @include mobile {
            min-height: 111px;
        }
    }

    .sale__link {
        position: absolute;
        text-align: center;
        text-decoration: none;
    }
    
    .sale__link:hover {
        opacity: 0.7;
    }
    
    .sale__link-for-women {
        top: 105px;
        left: 103px;

        @include tablet {
            top: 57px;
            left: 39px;
            }

            @include mobile {
                top: 98px;
                left: 94px;
            }
    }
    
    .sale__link-for-men {
        top: 105px;
        left: 125px;

        @include tablet {
            top: 57px;
            left: 59px;
            }

            @include mobile {
                top: 98px;
                left: 113px;
            }
    }
    
    .sale__link-for-kids {
        top: 105px;
        left: 123px;

        @include tablet {
            top: 57px;
            left: 61px;
            }

            @include mobile {
                top: 98px;
                left: 113px;
            }
    }
    
    .sale__link-accesories {
        top: 65px;
        left: 490px;

        @include tablet {
            top: 33px;
            left: 288px;
        }

        @include mobile {
            top: 30px;
            left: 92px;
        }
    }
    
    .sale__item-accesories {
        margin-top: 32px;

        @include tablet {
            margin-top: 20px;
        }

        @include mobile {
            margin-top: 0;
        }
    }
    
    .sale__text {
        font-size: 16px;
        line-height: 19px;
        color: $pink;
        text-transform: uppercase;
    }
    
    .sale__subtitle {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: $dark-pink;
        margin-top: 5px;
        text-transform: uppercase;
    }
}